<h1>Welcome to Notter!<h1>
<p style="font-size: 14px">A light-weight notes taking application!</p>

<div class="mt-5">
  <%= link_to 'Start taking notes!', notes_path, class: 'btn btn-primary text-white' %>
</div>